
@{
    ViewBag.Title = "Mortgage Calcutron";
}
@model Mortgage_Calcutron.Models.MortgageCalc
    <div>
        <h2>Welcome to the Mortgage Calcutron!!</h2>
    </div>
    <div>
        @using (Html.BeginForm())
        {
            <p>How much money would you like to borrow? $@Html.TextBoxFor(m => m.Principal). @Html.ValidationMessageFor(m => m.Principal) </p>
            <p>What would the interest rate be? @Html.TextBoxFor(m => m.Interest)%. @Html.ValidationMessageFor(m => m.Interest)</p>
            <p>How many years are you going to make payments? @Html.TextBoxFor(m => m.NumYears) Years. @Html.ValidationMessageFor(m => m.NumYears)</p>
            <input type="submit" name="submit" value="Calculate!" />
        }
    </div>
