
@{
    ViewBag.Title = "Result";
}
@model Mortgage_Calcutron.Models.CalcModelView
<div>
    <h2>Ok, Here's your results</h2>
</div>
    <br /> <br />
<div>
    <p>If you take out a @Model.Principal loan,</p>
    <p>at @Model.Interest% interest,</p>
    <p>Your payments would be @Model.MonthlyPayments per month.</p>
    <p>You will pay a total of @Model.TotalInterestPaid in interest.</p>
    <p>Meaning you will have paid a total of @Model.TotalPayment at the end of @Model.NumYears years.</p>
</div>